
body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  form {
    max-width: 400px; 
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

  @media screen and (max-width: 768px) {
    form {
      padding: 10px; 
    }
  }
  

  @media screen and (min-width: 769px) {
    form {
      padding: 20px; 
    }
  
    
    div {
      margin-bottom: 20px;
    }
  
    label {
      display: block;
      font-weight: bold;
    }
  
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="date"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #F0F8FF;
      border-radius: 5px;
      margin-top: 5px;
    }
  
    input[type="submit"] {
      background-color: #007BFF;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }
  
    input[type="submit"]:hover {
      background-color: #0056b3;
    }
  }
  